{% extends "base.html" %}

{% block content %}


    {% if blogs%}
    

        
            {% for blog in blogs %}
            <div >
            <h3 style="font-size: 25px;"><a href='/blog_dis?id={{blog.id}}'>{{blog.title}} </a></h3>
               
                {{blog.body}}
                <br>
                <p style="font-style:italic;" >
                written by <a href="/blog?user={{blog.owner}}" 
                value="blog.owner">{{blog.owner}}</a> </p>
            
            <br>
            </div>
            {% endfor %}
        

    {% endif %}

    {% if blog1 %}
    <br>
    {% for blog in blog1%}
    
    <h3 style="font-size: 25px;"><a href='/blog?user={{blog.owner}}'>{{blog.title}} </a></h3>
    
    {{blog.body}}
    <br>
    <p style="font-style:italic;" >written by <a href="/blog?user={{blog.owner}}" value="blog.owner">{{blog.owner}}</a> </p>
    <br>            
    {%endfor%}
    {%endif%}
   

{% endblock %}