{% extends "base.html" %}

{% block content %}
<div style="margin-left: 20px">
<h1> New post</h1> 

    <form method='post' id="usrinp">
        <label style="font-size: 20px">
            Title:
            <br>
            <input type="text" name='title' class="titleBox" />
            <p style="color:red;"> {{error1}} </p>
        </label>
        <br> 
        <label style="font-size: 20px">
            Post: <br>
            <textarea type="text" name='body' rows="5" cols="20"></textarea>
            <br>
            <p style="color:red;"> {{error2}} </p>

            
            <input type="submit" value='Submit' style="font-size: 20px"/>
        </label>    
    </form>
</div>    

    

    <!-- {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.name}}
                <form method="POST" action="/newpost" style="display:inline-block;">
                    <input type="hidden" name="blog-id" value="{{blog.id}}" />
                    <input type="submit" value="Add Entry" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %} -->


    <!-- <h2>Completed</h2>

    <ul>
        {% for blog in completed_blogs %}
        <li>{{blog.name}}</li>
        {% endfor %}
    </ul> -->

{% endblock %}