{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>

    
<form action="/signup" method='POST'>
    <table>
        <tr>
          <td><label for="username">Username:</label></td>
          <td><input name="username" type="text" value="{{ username }}">
            <span style ="color: red;">{{error1}} </span></td>
        </tr>
        <tr>
          <td><label for="password">Password:</label></td>
          <td><input type="password" name="password">
            <span style=color:red>{{error2}}</span></td>

        </tr>
        <tr>
          <td><label for="verify">Verify Password:</label></td>
          <td><input type="password" name="verify"> 
            <span style=color:red>{{error3}}</span></td>
        </tr>
    ​
      </table>
    ​<input type="submit" value="signup">
</form>

{% endblock %}